{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="section-intro padding-y-sm">
    <div class="container">
        <div class="intro-banner-wrap">
            <img src="{% static 'images/banners/1.jpg' %}" class="img-fluid-rounded">
        </div>
    </div>
</section>

<section class="section-intro padding-y-sm">
    <div class="container">
        <header class="section-heading">
            <h3 class="section-title">Produtos Populares</h3>
        </header>
        <div class="row">
            {% for produto in produtos %}
                <div class="col-md-3">
                    <div class="card card-product-grid">
                        <a href="./product-detail.html" class="img-wrap">
                            <img src="{{ produto.imagens.url }}">
                        </a>
                        <figcaption class="info-wrap">
                            <a href="./product-detail.html" class="title">{{ produto.produto_nome }}</a>
                            <div class="price mt-1">R$ {{ produto.preco }}</div>
                        </figcaption>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}